{% extends "layout.html" %}
{% block body %}

      <div id="service" class="services wow fadeIn">
        <div  class="container" style="display: flex; position: relative; margin-top: 10%; margin-right: 50%;">
           <div id="appoint" class="row">
              
                   <h3><span>+</span> Book Appointment</h3>
                   <div class="form">
                      <form method = "post" action = "{%url 'patient' %}">
                        {% csrf_token %}
                         <fieldset>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="row">
                                  <div class="form-group">
                                     <input type="text" id="name" placeholder="Patient Name"  />
                                  </div>
                               </div>
                            </div>
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                   <div class="form-group">
                                      <input type="text" placeholder="Patient Id" id="Patient ID" name = "id" />
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-section">
                               <div class="row">
                                  <div class="form-group">
                                     <select class="form-control" name = "day">
                                        <option>Day</option>
                                        <option>Sunday</option>
                                        <option>Monday</option>
                                        <option>Tuesday</option>
                                        <option>Wednesday</option>
                                        <option>Thursday</option>
                                        <option>Saturday</option>
                                        <option>Friday</option>
            
            
                                     </select>
                                  </div>
                                  <div class="form-group">
                                    <select class="form-control" id="timeSelect" name="time">
                                        <option>Time</option>
                                    </select>
                                </div>
                                
                                <script>
                                    var select = document.getElementById("timeSelect");
                                
                                    for (var hour = 9; hour <= 12; hour++) {
                                        select.options[select.options.length] = new Option(hour + ":00 AM", hour + ":00 AM");
                                    }
                                    for (var hour = 1; hour <= 9; hour++) {
                                        select.options[select.options.length] = new Option(hour + ":00 PM", hour + ":00 PM");
                                    }
                                </script>
                                
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="row">
                                  <div class="form-group">
                                     <select class="form-control" name="doctor">
                                        <option>Doctor Name</option>
                                        {% for item in doctors %}
                                          <option value = "{{item.id}}"> Dr. {{ item.first_name }} {{ item.last_name }}</option>
                                        {% endfor %}
                                     </select>
                                  </div>
                               </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="row">
                                  <div class="form-group">
                                     <textarea rows="4" id="textarea_message" class="form-control" placeholder="Your Message..."></textarea>
                                  </div>
                               </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="row">
                                  <div class="form-group">
                                     <div class="center"><button type="submit">Submit</button></div>
                                  </div>
                               </div>
                            </div>
                         </fieldset>
                      </form>
                   </div>
                
           </div>
        </div>
      </div>
      
     <!-- end section -->
     <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('images/appointment.jpg');">
        <div id= "View" class="container">
            <!-- Appointments Section -->
            
            <!-- Table for Doctor's Appointments -->
            <div class="blue-container">
                <table class="appointments-table">
                    <thead>
                        <tr>
                            <th>Appointment ID</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>001</td>
                            <td>Monday</td>
                            <td>9:00 AM</td>
                            <td>Dr. Smith</td>
                        </tr>
                        <tr>

                            <td>002</td>
                            <td>Tuesday</td>
                            <td>10:30 AM</td>
                            <td>Dr. Johnson</td>
                        </tr>
                        <tr>

                            <td>001</td>
                            <td>Monday</td>
                            <td>9:00 AM</td>
                            <td>Dr. Smith</td>
                        </tr>
                        <tr>

                            <td>002</td>
                            <td>Tuesday</td>
                            <td>10:30 AM</td>
                            <td>Dr. Johnson</td>
                        </tr>
                        <tr>

                            <td>001</td>
                            <td>Monday</td>
                            <td>9:00 AM</td>
                            <td>Dr. Smith</td>
                        </tr>
                        <tr>

                            <td>002</td>
                            <td>Tuesday</td>
                            <td>10:30 AM</td>
                            <td>Dr. Johnson</td>
                        </tr>
                        <tr>

                            <td>001</td>
                            <td>Monday</td>
                            <td>9:00 AM</td>
                            <td>Dr. Smith</td>
                        </tr>
                        <tr>

                            <td>002</td>
                            <td>Tuesday</td>
                            <td>10:30 AM</td>
                            <td>Dr. Johnson</td>
                        </tr>
                        <tr>

                            <td>001</td>
                            <td>Monday</td>
                            <td>9:00 AM</td>
                            <td>Dr. Smith</td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="Instructions" class="section wow fadeIn">
        <div class="container">
           <div class="heading">
              <span class="icon-logo"><img src="../static/images/icon-logo.png" alt="#"></span>
              <h2>Haven Clinic</h2>
           </div>
           <!-- end title -->
           <div class="row">
              <div class="col-md-6">
                 <div class="message-box">
                    <h4>Instructions</h4>
                    <h2>Making Your Experience Easier</h2>
                    <div>
                        <ul>
                            <li>When you arrive, head to our reception desk - we're excited to welcome you!</li>
                            <li>Fill out any forms or paperwork needed - we promise to keep it simple!</li>
                            <li>Relax in our comfy waiting area until it's your turn - take a deep breath, you're in good hands!</li>
                            <li>Follow our friendly staff to your treatment room - it's your time to shine!</li>
                            <li>Get ready for your consultation or procedure with guidance from our caring team.</li>
                            <li>Feel free to share any worries or questions with your healthcare provider - we're here to listen!</li>
                            <li>Follow the easy pre-procedure or post-procedure steps given by your healthcare provider.</li>
                            <li>Don't forget any prescribed medications or follow-up appointments - we'll help you stay on track!</li>
                            <li>Stick to any dietary or lifestyle tips from your healthcare provider - your health is our priority!</li>
                            <li>Keep things clean and tidy while you're here - we all appreciate a fresh environment!</li>
                            <li>Respect everyone's privacy and comfort - we're all in this together!</li>
                            <li>Share your thoughts or experiences with us - your feedback means the world!</li>
                        </ul>
                    </div>
                    

              
                <a href="#Instructions" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>
                 </div>
                 <!-- end messagebox -->
                </div>
                <!-- end col -->
                <div class="col-md-6">
                   <div class="post-media wow fadeIn">
                      <img src="../static/images/about_04.jpg" alt="" class="img-responsive">
                   </div>
                   <!-- end media -->
                </div>
                <!-- end col -->
             </div>
        </div>
    </div>
    
{% endblock %}