{% extends "layout.html" %}
{% block body %}
<div id="View" class="container" style="position: absolute; top: 20%;">
	<div id="appointmentbooking" class="appointment-form">
		<h3><span>+</span> Register New Patient</h3>
		<div class="form">
			<form action="{% url 'register' %}" method="post">
				{% csrf_token %}
				<fieldset>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-section">
						<div class="row">
							<div class="form-group">
								<input type="text" id="name" placeholder="First Name" name="Fname"/>
							</div>
							<div class="form-group">
								<input type="text" id="name" placeholder="Last Name" name="Lname"/>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="form-group">
								<input type="text" placeholder="Email" id="email" name="mail"/>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="form-group">
								<input type="text" placeholder="Username" id="email" name="uname"/>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="form-group">
								<input type="password" placeholder="Password" id="Patient ID" name="patient_password"/>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="form-group">
								<input type="text" placeholder="Phone Number" id="Patient ID" name="phone_number"/>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-section">
						<div class="row">
							<div class="form-group">
								<select class="form-control" name="sex">
									<option>Sex</option>
									<option>Male</option>
									<option>Female</option>

								</select>
							</div>
							<div class="form-group">
								<input type="date" placeholder="date_of_birth" id="Patient ID" name="date"/>
							</div>


							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<div class="form-group">
										<div class="center" style="position: absolute; align-content: center;"><button type="submit">Submit</button></div>
									</div>
								</div>
							</div>
				</fieldset>
			</form>
		</div>
	</div>

</div>


{% endblock %}